@{
    ViewData["Title"] = "Home Page";
}
<br />
<h1>Todo app</h1>
<br />
<br />
<a class="btn" asp-controller="Todo" asp-action="Index">Active todos</a>  
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  
<a class="btn" asp-controller="Todo" asp-action="Completed">Completed todos</a>
